[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycrypto = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pylab-sdk = "*"
requests = "*"
pycryptodome = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
